*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

form {
  display: ruby;
}

#sensorChart {
  display: ruby;
}

#tempAlert {
  margin-left: 20px;
}

#temperature{
  margin-left : 20px;
}

canvas {
  margin-right: 20px;
}

#sensor_name{
  margin-left: 20px;
}

.toggle {
  cursor: pointer;
  display: ruby;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 116px;
  height: 48px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before {
  font-size: 9pt;
  text-align: center;
  line-height: 35px;
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 48px;
  height: 36px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
#window-door.toggle-switch:before{
  content: "CLOSED";
}

#heatpump.toggle-switch:before{
  content: "OFF";
}
.toggle-checkbox:checked + #window-door.toggle-switch:before{
  content: "OPEN";
}

.toggle-checkbox:checked + #heatpump.toggle-switch:before{
  content: "ON";
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 60px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.quantity-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px; 
  height: 40px;
  margin: 20px;
}

.quantity-field .value-button{ 
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;   
  padding: 0;
  background: #eee; 
  outline: none;
  cursor: pointer;
}

.quantity-field .value-button:hover {
  background: rgb(230, 230, 230);
}

.quantity-field .value-button:active{
  background: rgb(210, 210, 210);
}

.quantity-field .decrease-button {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

.quantity-field .increase-button {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}
 
.quantity-field .number{
  display: inline-block;
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 100%;
  line-height: 40px;
  font-size: 11pt;
  box-sizing: border-box; 
  background: white;
  font-family: calibri;
}

.quantity-field .number::selection{
  background: none;
}

/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*/

canvas#myChart {
  width: auto;
  height: auto;
}